body
	background-color: #000 !important

html
	background-color: #000 !important

.datashiz_title
	color: #fff
	font-family: 'Press Start 2P', cursive
	background-color: #000
	text-align: center
	padding-top: 1rem

.motivation h1
	color: #fff
	font-family: 'Playfair Display', serif
	font-size: 3.5rem
	font-weight: 300
	padding-top: 2em

.motivation p
	color: #fff
	font-family: serif
	font-size: 1.2rem
	font-weight: 300

.motivation li
	color: #fff

.intro_black 
	background-color: #000000
	color: #969696

.intro_black h1
	font-family: 'Oswald', sans-serif
	font-weight: 600 !important
	font-size: 2rem
	text-align: center
	padding: 10rem 6rem

.intro_white
	background-color: #ffffff
	color: #969696

.intro_white h1
	font-family: 'Oswald', sans-serif
	font-weight: 600 !important
	font-size: 2rem
	text-align: center
	padding: 10rem 6rem

.intro
	color: #fff
	background-image: url('assets/eckford_large.jpeg')
	background-position: 0% 20%
	background-attachment: fixed
	font-family: 'Lora', serif
	font-size: 1.5rem
	text-align: center
	padding: 10rem 0rem
	margin-bottom: 2em

.title h2
	font-family: 'Playfair Display', serif
	font-size: 3.5rem
	font-weight: 300
	text-align: center
	padding: 15rem 20rem

.title
	background-image: url('assets/Brownvboard.jpg')
	background-size: 110%
	background-repeat: no-repeat
	background-position: 80% 10%
	background-attachment: fixed
	color: #fff
