.leadin1
	background-image: url('assets/empty_theater.jpg')
	background-position: 0% 0%
	background-attachment: fixed
	background-size: cover
	font-family: 'Lora', serif
	font-weight: 500
	text-align: center
	padding: 10rem 0rem
	color: #000

.leadin1 h2
	font-size: 1.5rem

.leadin1 .col-md-6
	box-shadow: 0px 0px 0px #fff;