.reasons
	color: #f4f4f4 !important

.reasons h3
	font-family: 'Playfair Display', serif
	font-weight: 400
	font-size: 2em

.reasons p
	font-family: 'Lora', serif
	font-size: 1.2em

.pad2002:hover
	content: "";
	background-color: #000
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url('assets/nclb.jpg')
	background-size: cover
	/*opacity: 0.5;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;

.pad2002:hover h3 p
	opacity: 1

.pad2002_all
	text-align: right
	border-right: 2px solid #fff

.pad2002_all p
	padding-right: 1.5em

.pad2006
	margin-top: 15em

.pad2006 p
	padding-left: 1.5em

.pad2006:hover
	content: "";
	background-color: #000
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url('assets/fb_unsplash.jpg')
	background-size: cover
	/*opacity: 0.5;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;

.pad2007
	margin-top: 10em

.pad2007:hover
	content: "";
	background-color: #000
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url('assets/supreme_court.jpg')
	background-size: cover
	/*opacity: 0.5;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;

.pad2008
	margin-top: 3em

.pad2008 p
	padding-left: 1.5em

.pad2008:hover
	content: "";
	background-color: #000
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url('assets/wallst.jpg')
	background-size: cover
	background-position: 80% 0
	/*opacity: 0.5;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;

.pad2013
	margin-top: 12em

.pad2013:hover
	content: "";
	background-color: #000
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url('assets/school.jpg')
	background-size: cover
	/*opacity: 0.5;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;

.leadin2
	font-family: 'Lora', serif
	font-size: 1.5em
	text-align: center
	padding-bottom: 2em