<nav class="row datashiz_title">
  <div class="col-md-3">
  	<a href="index.html">
  		<h4><span style='color: #fff'>Data</span>{<span style='color: #42d9f4'>Shiz</span>}</h4>
  	</a>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-3">
  	<a href="documentation.html">DOCUMENTATION</a>
  </div>
</nav>

