<div class="second_story">
	<div id="second-map-scroll">
		<div class="scroll__figure2">
			<script src="line_chart.js"></script>
		</div>
		<div class='scroll__text2'>
			<div class='step2' id='step5' data-step='5'>
				<h3>{{copy.step1_1}}</h3>
			</div>
			<div class='step2' id='step6' data-step='6'>
				<h3>{{copy.step2_1}}</h3>
			</div>
		</div>
	</div>
</div>