<div class="second_story">
	<div id="second-map-scroll">
		<div class="scroll__figure2">
			<script src="line_chart.js"></script>
		</div>
		<div class='scroll__text2'>
			<div class='step2' id='step1' data-step='1'>
				<h3>{{copy.step1_1}}</h3>
				<p></p>
			</div>
			<div class='step2' id='step2' data-step='2'>
				<h3>{{copy.step2_1}}</h3>
				<p></p>
			</div>
		</div>
	</div>
</div>